<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="author" content="Eric_Wong">
    <meta name="description" content="记录生活、技术">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:site_name" content="黄为伟的博客"/>
	<title>发布博文 - <%=config.site_name%></title>
  	<link href="/favicon.ico" rel="icon">
</head>
<body>
<form method="POST" action="/admin/create-post/create">
	<div>
		<label for="title">文章标题</label>
		<input type="text" name="title"/>
	</div>

	<div>
		<label for="keywords">关键词</label>
		<input type="text" name="keywords"/>
	</div>

	<div>
		<label for="keywords">地址</label>
		<input type="text" name="url"/>
	</div>

	<div>
		<label for="keywords">所属目录</label>
		<input type="text" name="category"/>
	</div>

	<div>
		<textarea name="contents" cols="30" rows="10"></textarea>
	</div>

	<input type="submit" value="发布"/>
</form>
</body>
</html>