<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="author" content="Eric_Wong">
    <meta name="description" content="记录生活、技术">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:site_name" content="黄为伟的博客"/>
	<title>发布文章 - <%=config.site_name%></title>
  	<link href="/favicon.ico" rel="icon">
  	<link rel="stylesheet" href="/styles/bootstrap.min.css">
  	<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
	<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
	<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
</head>
<body>
<div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Easy Blog</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class=""><a href="/admin/panel">首页</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">文章管理 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/admin/link/view">文章列表</a></li>
                  <li><a href="/admin/link/create">发布文章</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">分类管理 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/admin/category/view">分类列表</a></li>
                  <li><a href="/admin/category/create">新增分类</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">友链管理 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/admin/links/view">友链列表</a></li>
                  <li><a href="/admin/links/create">新增友链</a></li>
                </ul>
              </li>
              <li><a href="/admin/logout">退出后台</a></li>
            </ul>
          </div>
        </div>
      </nav>
	
	<div class="container" style="margin-top: 80px;">
		<form method="POST" action="/admin/link/create">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">发布文章</h3>
		  </div>
		  <div class="panel-body">
		    <div class="form-group">
			    <label for="title">文章标题</label>
				<input type="text" name="title" class="form-control" style="width: 70%"/>
			</div>
			<div class="form-group">
			    <label for="keywords">关键词</label>
				<input type="text" name="keywords" class="form-control" style="width: 70%"/>
			</div>
			<div class="form-group">
			  	<label for="keywords">URL地址</label>
				<input type="text" name="url" class="form-control" style="width: 70%"/>
			</div>
			<div class="form-group">
			  	<label for="category">所属目录</label>
				<select name="category" class="form-control" style="width: 70%">
					<% categories.forEach(function(category){%>
					<option value="<%=category._id%>"><%=category.name%></option>
					<% }); %>
				</select>
			</div>
			<div class="form-group">
			    <label for="category">文章正文</label>
			  	<textarea name="contents" rows=20 class="form-control"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" value="发布" class="btn btn-lg btn-success"/>
			</div>
		  </div>
		</div>
		</form>
	</div>
	
</div> <!-- /container -->
<script src="/scripts/jquery-2.1.3.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script>
	var editor = new Editor();
	editor.render();
</script>
</body>
</html>