<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="author" content="Eric_Wong">
    <meta name="description" content="记录生活、技术">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:site_name" content="黄为伟的博客"/>
	<title>管理登录 - <%=config.site_name%></title>
  	<link href="/favicon.ico" rel="icon">
</head>
<body>
<form method="POST" action="admin/login">
	<label for="username">用户名</label>
	<input type="text" name="username"/>
	<label for="password">密码</label>
	<input type="password" name="password"/>
	<input type="submit"/>
</form>
</body>
</html>