<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="author" content="Eric_Wong">
	<meta name="description" content="记录生活、技术">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:site_name" content="黄为伟的博客"/>
	<meta name="keywords" content="<%=post.keywords%>" />
	<title><%=post.title%> - <%=config.site_name%></title>
	<link href="/favicon.ico" rel="icon">
	<link rel="stylesheet" href="/styles/markdown.css">
	<link rel="stylesheet" href="/libs/code-prettify/prettify.css">
</style>
</head>
<body>
<h1>
	<%=post.title%>
</h1>
<span>分类：<%=post.category.name%></span>
<span>关键字：<%=post.keywords%></span>
<p>
	<%=post.date%><br>
</p>
<article>
	<%- post.contents %>
</article>
</body>
<script src="/scripts/jquery-2.1.3.min.js"></script>
<script src="/libs/code-prettify/prettify.js"></script>
<script>
(function(){
    $('pre').addClass('prettyprint');
    prettyPrint();
})();
</script>
</html>