.wrapper {
	margin: 0 auto;
	width: 768px;
	background: #fff;
}

.container {
	background: #fff;
}

.navbar {
	width: 100%;
	height: 100px;
	color: #fff;
	text-shadow: none;
	padding: 0;
	border-bottom:1px dashed #ccc;
}

.navbar .info {
	padding-top: 2%;
}

.navbar .me {
	display: inline-block;
	float: left;
}

.navbar .me > img {
	width: 60px;
}

.posts {
	/*border: 1px solid #ddd;*/
}

.posts .sub {
	font-size: 14px;
}

.posts li {
	/*font-family: KaiTi, STKaiti;*/
}

.posts a {
	color: #000;
	text-decoration: none;
	/*font-family: KaiTi, STKaiti;*/
	transition: .5s;
	border-bottom: 1px solid #fff;
}

.posts li a:hover {
	color: #660292;
	border-bottom: 1px solid #660292;
}

.list li {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 30px;
	transition: .3s;
}

.list li:hover {
	color: #660292;
}

.list li:hover {
	padding-left: 30px;
}

.arc {
	margin-top: -20px;
}

.star_zone {
	display: block;
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}

.star_btn {
	display: inline-block;
	width: 150px;
	height:50px;
	line-height: 45px;
	background: #fff;
	border-radius: 30px;
	border: 1px solid #f29c9f;
	text-align: center;
	color: #f29c9f;
	outline: none;
	font-size: 20px;
	transition: .3s;
	z-index: 1;
}

.star_btn:hover {
	cursor: pointer;
	color: #fff;
	background: #f29c9f;
}

iframe {
	width: 100%;
	margin:0 auto;
	text-align: center;
}

.ds-meta {
	display: none;
}

article strong {
	border-radius: 30px;
	padding:0 5px 0 5px;
	background: #daedff;
	font-weight: 300;
	border: 1px solid #bee0ff;
}

article li {
	border: none;
}

article ol {
	border: 0px solid #000;
}

@media screen and (min-width: 0) and (max-width: 480px) {
  	.container {
		padding-top: 0%;
		margin-left: 0;
		padding-left: 0;
  	}

	.wrapper {
		width: 100%;
	}

	.posts ul {
		margin-top: -10px;
	}

	.posts li {
		padding: 10px 10px 10px 10px;
		font-size: 16px;
	}

	.posts a {
		font-size: 16px;
	}

	.navbar {
		height: 100%;
	}

	.nav {
		clear: both;
		margin: 0;
		padding: 0;
	}

	.me {
		width: 100%;
		padding-left: 0px;
	}

	.nav ul {
		margin-top: -10px;
		margin: 10px;
		padding: 0;
	}

	.posts li {
		padding-bottom: 10px;
	}

	iframe {
		width: 100%;
		height:  200px;
	}

}